<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laura Moreno Martín</title>
    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>

<body id="caracteristicas">
    <main>
        <section class="column-2-3">
            <div class="container">
                <h1>Características</h1>
                <p>Basándome en el artículo de “Andrea Imaginario”, donde hace una recolecta de las características más representativas de este arte.</p>
                <p><strong>Noción de hiperrealidad como fundamento</strong>, En el artículo explica que el cerebro humano es incapaz de distinguir entre realidad y ficción.</p>
                <p><strong>Verismo descriptivo absoluto</strong>, donde nos explica que la obra hiperrealista debe ser tan realista que parezca más viva que la realidad conocida. Los artistas ocultan cualquier evidencia de proceso en la ejecución con acabados
                    perfectos. Todo lo contrario al impresionismo, el postimpresionismo…</p>
                <p><strong>Virtuosismo y gusto por el detalle</strong>, se relaciona con la perfección técnica, abocada a lograr definición y nitidez absoluta. Permite acrecentar el realismo. Por eso, el hiperrealismo nos recuerda al barroco en su desengaño
                    ante la realidad.</p>
                <p><strong>Temas aparentemente triviales</strong>, se ven figuras humanas, bodegones.. que dan la apariencia de ser triviales. Tienen el profundo sentido de expresar la desesperación de la sociedad de consumo.</p>
                <p>Hay varias diversidades de tendencias, entre ellas el realismo fotográfico o el realismo figurativo. Son diferentes expresiones del hiperrealismo.</p>
                <a href="https://www.culturagenial.com/es/hiperrealismo/" target="_blank">Hiperrealismo: Características, autores y obras de la pintura y la escultura - Cultura Genial</a>
            </div>
            <div class="container">
                <a href="/" class="go-back">Volver</a>
            </div>
        </section>
        <section class="column-1-3">
            <img src="/img/caracteristicas.jpg" alt="">
            <p class="image-footer">PIE DE FOTO</p>
        </section>
    </main>
    <footer>
        <p>Laura Moreno Martín</p>
        <p>UPC/ETSAV - Composición II</p>
    </footer>
</body>

</html>