<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laura Moreno Martín</title>
    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>

<body id="hiperrealismo">
    <main>
        <section class="column-2-3">
            <div class="container">
                <h1>Hiperrealismo</h1>
                <p class="quote">"El Hiperrealismo es una escuela pictórica que pretende ofrecer una versión minuciosa y detallada de las imágenes y propone reproducir la realidad con más fidelidad y objetividad que la fotografía. Es un movimiento que surge a finales
                    de la década de los años 60 en Estados Unidos como reacción al arte abstracto y al movimiento conceptual"</p>
                <p class="quote">Miguel Calvo, enciclopedia “HA!”, 2015</p>
                <p>También nos comenta que el arte hiperrealista busca algo imposible, que es la perfección: </p>
                <p class="quote">"El arte hiperrealista busca algo imposible: la perfección, aunque lo haga sólo para mostrar perfectamente lo banal, siguiendo un poco lo que habían empezado años antes los Pop"</p>
                <p>Quizás buscar la perfección es algo muy complicado, como comenta Miguel en su artículo, pero si que el arte del hiperrealismo, personalmente lo considero algo que roza la perfección, cabe decir que no soy una experta en arte, pero de lo
                    que no hay duda, es que realizar una copia de algo, es algo muy complejo</p>
                <p>Aunque Miguel Calvo considere que el hiperrealismo, elimine toda emoción o sentimiento:</p>
                <p class="quote">"En el hiperrealismo no suele haber huellas de pinceladas, se elimina toda materia. Se elimina incluso toda emoción o sentimiento. Con ello asumimos que se quiere parecer a la quizás mucho menos realista fotografía"</p>
                <p>Los artistas hiperrealistas, buscaban una transcripción de la realidad usando los medios técnicos y fotográficos de la manipulación de las imágenes, consiguiendo con la pintura el mismo detallismo y encuadre que ofrece la fotografía.</p>
                <p>En Norteamérica el hiperrealismo era trabajado partiendo de la reproducción pintada de objetos de consumo y de sus correspondientes imágenes publicitarias. Por esta razón podemos encontrar la reproducción manual de fotografías, que constituye
                    la esencia del hiperrealismo americano.</p>
                <p>A principios de los años 70, la fotografía fue reabsorbida por la pintura. Mediante la fotografía se obtiene un acercamiento a la nueva abstracción. El hiperrealismo y el pop-art forjan una relación.</p>
                <p>A diferencia de Estados Unidos, en Europa el hiperrealismo no suele tener connotaciones del pop art y se impregna de un lirismo casi surrealista.</p>
                <p>Web de referencia: <a href="https://historia-arte.com/movimientos/hiperrealismo" target="_blank">Hiperrealismo - Historia Arte (HA!)</a></p>
                <p>Web de referencia: <a href="https://artesegundamitadelsigloxx.weebly.com/realismo-fotograacutefico.html" target="_blank">Realismo Fotográfico - Arte</a></p>
            </div>
            <div class="container">
                <a href="/" class="go-back">Volver</a>
            </div>
        </section>
        <section class="column-1-3">
            <img src="/img/hiperrealismo.jpg" alt="">
            <p class="image-footer">Mask II - Ron Mueck</p>
        </section>
    </main>
    <footer>
        <p>Laura Moreno Martín</p>
        <p>UPC/ETSAV - Composición II</p>
    </footer>
</body>

</html>