<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laura Moreno Martín</title>
    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>

<body id="influencia-de-la-fotografia-en-el-arte">
    <main>
        <section class="column-2-3">
            <div class="container">
                <h1>Influencia de la Fotografia en el Arte</h1>
                <p>Como explica Alberto Valladolid, en una presentación bastante interesante sobre la Influencia de la fotografía en el arte:</p>
                <p class="quote">En el Siglo XIX, las fotografías no eran consideradas obras de arte, porque se pensaban que las máquinas eran las que realizaban todo el trabajo. Los artistas del siglo XIX aprendieron con la cámara, veían instantáneas, movimiento e introducían ángulos y encuadres que les ayudaban a componer y realizar sus cuadros.</p>
                <p>Hay muchos tipos de arte que su primer aliado es la fotografía, arte que tenemos en nuestro día a día. </p>
                <p>Como por ejemplo el cubismo, que introduce fotos recortadas y manipuladas, para hacer su propio montaje.</p>
                <p>El surrealismo, que se compone a base de trazos de películas, manipuladas y creando una composición totalmente diferente a la original.</p>
                <p>El Dadaísmo, utiliza la fotografía para sus composiciones, les hacia cambios a las fotos originales de obras conocidas para marcar como propias del autor.</p>
                <p>Por último, el hiperrealismo, que es una imitación perfeccionista de una fotografía.</p>
                <p>Como podemos observar, numerosas tipologías de arte, giran en base a la fotografía, dándole un valor añadido. Detrás de la fotografía hay mucho más trabajo, que la herramienta que nos facilita esta acción. Por lo tanto, podemos afirmar con total firmeza que la fotografía es arte, el cubismo es arte, el surrealismo es arte, el dadaísmo es arte y el hiperrealismo es arte.</p>
                <a href="https://prezi.com/n5yjtzbmirjo/influencia-de-la-fotografia-en-el-arte/?frame=4da028d5b74152734d9b17cb97ac6250202cbc51" target="_blank">INFLUENCIA DE LA FOTOGRAFÍA EN EL ARTE by Alberto Valladolid</a>
            </div>
            <div class="container">
                <a href="/" class="go-back">Volver</a>
            </div>
        </section>
        <section class="column-1-3">
            <p>Huevo en Huevera - Mary Pratt</p>
        </section>
    </main>
    <footer>
        <p>Laura Moreno Martín</p>
        <p>UPC/ETSAV - Composición II</p>
    </footer>
</body>

</html>