<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laura Moreno Martín</title>
    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>

<body id="influencia-de-la-fotografia-en-el-arte">
    <main>
        <section class="column-2-3">
            <div class="container">
                <h1>Influencia de la Fotografia en el Arte</h1>
                <h3>Descripcion Obra</h3>
                <p>Parrafo Obra</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime deleniti ea repellendus error pariatur cum saepe! Atque nihil, deleniti possimus odit doloribus, dolores rem corrupti velit cum quas, ad delectus.</p>
                <strong>Añadir alguna imagen</strong>
            </div>
            <div class="container">
                <a href="/index.html" class="go-back">Volver</a>
            </div>
        </section>
        <section class="column-1-3"></section>
    </main>
    <footer>
        <p>Laura Moreno Martín</p>
        <p>UPC/ETSAV - Composición II</p>
    </footer>
</body>

</html>