<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laura Moreno Martín</title>
    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>

<body id="antonio-lopez">
    <main>
        <section class="column-2-3">
            <div class="container">
                <h1>Antonio López</h1>
                <h3>España - 1936</h3>
                <p><strong>Referente del hiperrealismo español, Premio Príncipe de Asturias</strong>, es conocido por la meticulosidad con la que planea hasta la hora exacta en la que poder pintar para que la incisión de la luz sobre los elementos sea siempre
                    la misma.</p>
                <h4>Obras más Conocidas:</h4>
                <div class="artwork-container">
                    <article>
                        <img src="/img/gran-via.jpg" alt="">
                        <div class="image-footer">La Gran Via de Madrid</div>
                    </article>
                    <article>
                        <img src="/img/lavabo-y-espejo.png" alt="">
                        <div class="image-footer">Lavabo y Espejo</div>
                    </article>
                </div>
                <a href="https://historia-arte.com/movimientos/hiperrealismo" target="_blank">Hiperrealismo - Historia Arte (HA!)</a>
            </div>
            <div class="container">
                <a href="/" class="go-back">Volver</a>
            </div>
        </section>
        <section class="column-1-3">
            <img src="/img/antonio-lopez.jpg" alt="">
        </section>
    </main>
    <footer>
        <p>Laura Moreno Martín</p>
        <p>UPC/ETSAV - Composición II</p>
    </footer>
</body>

</html>