<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laura Moreno Martín</title>
    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>

<body id="chuck-close">
    <main>
        <section class="column-2-3">
            <div class="container">
                <h1>Chuck Close</h1>
                <h3>Estados Unidos - 1940</h3>
                <p>En el realismo fotográfico es quien lleva las últimas consecuencia en la relación entre fotografía y pintura, admitió la superioridad de la fotografía frente a la pintura, por lo que en sus obras decide pintar detalles minuciosos y hasta
                    los defectos de deformación del objetivo fotográfico. En sus retratos de grandes dimensiones reproduce a través de una técnica laboriosísima imágenes fotográficas, buscando los efectos de la profundidad de campo.</p>
                <p>En el realismo fotográfico es quien lleva las últimas consecuencia en la relación entre fotografía y pintura, admitió la superioridad de la fotografía frente a la pintura, por lo que en sus obras decide pintar detalles minuciosos y hasta
                    los defectos de deformación del objetivo fotográfico. En sus retratos de grandes dimensiones reproduce a través de una técnica laboriosísima imágenes fotográficas, buscando los efectos de la profundidad de campo.</p>
                <div class="artwork-container">
                    <article>
                        <img src="/img/leslie.jpg" alt="">
                        <div class="image-footer">Leslie</div>
                    </article>
                    <article>
                        <img src="/img/phil.jpg" alt="">
                        <div class="image-footer">Phil</div>
                    </article>
                </div>
                <p>Web de referencia: <a href="https://artesegundamitadelsigloxx.weebly.com/realismo-fotograacutefico.html" target="_blank">Realismo Fotográfico - Arte</a></p>
            </div>
            <div class="container">
                <a href="/" class="go-back">Volver</a>
            </div>
        </section>
        <section class="column-1-3">
            <img src="/img/chuck-close.jpg" alt="">
        </section>
    </main>
    <footer>
        <p>Laura Moreno Martín</p>
        <p>UPC/ETSAV - Composición II</p>
    </footer>
</body>

</html>