<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laura Moreno Martín</title>
    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>

<body id="ron-mueck">
    <main>
        <section class="column-2-3">
            <div class="container">
                <h1>Ron Mueck</h1>
                <h3>Australia - 1958</h3>
                <p class="quote">"Mueck es un genio de la la representación figurativa. Con un evidente conocimiento de la anatomía y una extraordinaria habilidad técnica, consigue que sus esculturas parezcan vivas, pese a estar hechas de siliconas, fibra de vidrio y
                    acrílico. Aún así, a Ron Mueck le gusta la teatralidad. Realismo sí, pero con artificio. Se ve en sus proporciones poco convencionales, en sus posturas, en sus escenas surrealistas, en su desbocado sentido del humor…"</p>
                <p class="quote">Miguel Calvo</p>
                <div class="artwork-container">
                    <article>
                        <img src="/img/hiperrealismo.jpg" alt="">
                        <div class="image-footer">Mask II</div>
                    </article>
                    <article>
                        <img src="/img/hombre-salvaje.jpg" alt="">
                        <div class="image-footer">Hombre Salvaje</div>
                    </article>
                </div>
                <p>Web de referencia: <a href="https://artesegundamitadelsigloxx.weebly.com/realismo-fotograacutefico.html" target="_blank">Realismo Fotográfico - Arte</a></p>
            </div>
            <div class="container">
                <a href="/" class="go-back">Volver</a>
            </div>
        </section>
        <section class="column-1-3">
            <img src="/img/ron-mueck.jpg" alt="">
        </section>
    </main>
    <footer>
        <p>Laura Moreno Martín</p>
        <p>UPC/ETSAV - Composición II</p>
    </footer>
</body>

</html>